p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    color:#1a1a1a;
}

h1 {
    color: #ffffff !important;
    font-family: 'Caramello', sans-serif;
}

.title-gift-cards {
    font-family: 'Mollie Glaston', sans-serif;
    color: #ffffff !important;
}

a {
    color:#ffffff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}

a:hover {
    color: #1a1a1a;
}

ol, ul {
    list-style: none;
}

.txt-dark {
    color:#ffffff !important;
}

.ws-12 {
    word-spacing: 12px;
}

.f-jost {
    font-family: 'Jost', sans-serif !important;
    letter-spacing: 0px !important;
}

.f-breathing {
    font-family: 'Breathing', sans-serif !important;
    letter-spacing: 0px !important;
}

#header .header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}



#header .header-main button.navbar-toggler span {
    background: white;
}

#header .header-main .nav-item a {
    color: #ffffff;
}

#header .header-main button {
    color: #ffffff;
}



#header.sticky .header-main .nav-item a {
    color: #1a1a1a;
}

#header.sticky .header-main button {
    color: #1a1a1a;
}



#header .header-main .navbar-toggler.collapsed .toggler-icon {
    background: linear-gradient(to bottom,#ff0000,#ff7878);
    color: #ffffff;
}

#header.sticky .header-main {
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}

#header .navbar > .navbar-brand img {
    width: 120px;
    filter: brightness(500%);
}

#header.sticky .navbar > .navbar-brand img {
    width: 100px;
    filter: brightness(150%);
}

#navbarsMenu .nav-link {
    position: relative;
    font-family: 'Mollie Glaston', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #1a1a1a;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0rem;
    min-width: 110px;
    text-align: center;
}

.button-step.active {
    background-repeat: no-repeat;
    background-position: center;
    background-size: unset;
    background-image: url(../../images/christmas/christmas-button.png);
}
#navbarsMenu .nav-link.active {
    width: 120%;
    background-image: url(../../images/christmas/christmas-button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#navbarsMenu .nav-link:not(.active):hover {
    color: #ff0000;
}

/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #1a1a1a;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #1a1a1a;
}

.button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    background: linear-gradient(to bottom,#ff0000,#ff7878);
    border: 0;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.button:hover {
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    background: linear-gradient(to bottom,#ff0000,#ff7878);
}

.button.icon-button i {
    margin-right: 0.125rem;
}

.button.button-lg {
    font-size: 18px;
    padding: 12px 24px;
    min-width: 200px;
}

#header .header-main .navbar .button-group .icon-button span.sticky {
    display: none;
}

.banner-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-slider .banner-item {
    width: 100%;
    height: 100vh;
}

.banner-slider .flickity-button {
    background: transparent;
}

.banner-item .banner-content {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.banner-content .banner-title {
    font-family: 'Mollie Glaston', sans-serif;
    font-size: 100px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 1.5rem
}

.banner-content .banner-img-wrap {
    width: 100%;
    height: 100%;
    padding-left: 6rem;
}

.banner-content .banner-img-border,
.banner-content .banner-img  {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50rem 50rem 0 0;
}

.banner-content .banner-img-border {
    border: 1px solid #ffffff;
    padding: 1.5rem;
}

.banner-content .banner-img img,
.banner-content .banner-img-group img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50rem 50rem 0 0;
}

.banner-content .banner-img-group img {
    border-radius: 50rem 50rem 50rem 50rem;
}

.banner-content .banner-link {
    position: relative;
    font-family: 'Mollie Glaston', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1a1a1a;
}

.banner-content .banner-link i {
    font-size: 1rem;
}

.banner-content .banner-link::after {
    content: '';
    width: 0px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background: #1a1a1a;
    transition: 500ms;
}

.banner-content .banner-link:hover::after {
    width: 100%;
}

.section-wrap {
    position: relative;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-banner {
    padding-top: 0 !important;
}

.sub-title {
    font-size: 44px;
    font-weight: 500;
    margin: 0;
    font-family: 'Caramello', sans-serif;
    line-height: 1;
    margin-bottom: 0;
    letter-spacing: 1px;
    color: #ff0000;
}

.sub-title.fs-80 {
    font-size: 80px;
}

.title {
    font-family: 'Mollie Glaston', sans-serif;
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 55px;
    font-weight: 500;
    line-height: 1.2;
    color: #1a1a1a;
}

/* .section-about {
	padding-bottom: 100px;
} */

.section-services {
    /* background-image: url(../../images/banner-bg.jpg);
    background-color: #fbcfc3; */
    /* padding: 100px 0; */
    padding-bottom: 100px;
}

.section-testimonial {
    padding-top: 100px;
}

.section-gallery {
    padding-bottom:  100px;
}

.section-parallax {
    /*background-image: url(../../images/parallax-banner-helloween.jpg);*/
    padding: 120px 0;
}

.section-parallax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    opacity: 0.5;
}

.section-parallax .parallax-wrap {
    position: relative;
    z-index: 1;
}

.section-parallax .button-group {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-direction: row;
}

.heading-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.heading-flex .title {
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 2;
}

.heading-flex .sub-title {
    width: 5px;
    white-space: nowrap;
    font-size: 80px;
    margin: 0 0 0 0;
}

.section-services .heading-flex .sub-title {
    margin: 0 0 0 -8rem;
}

.section-gallery .heading-flex .sub-title {
    margin: 0 0 0 -8rem;
}

.section-services .service-item {
    position: relative;
    overflow: hidden;
}

.section-services .service-item .service-img-link {
    overflow: hidden;
    display: block;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}

.section-services .service-item .service-img-wrap {
    position: relative;
    padding: 0.5rem;
    border: 1px solid #1a1a1a;
    border-radius: 50rem;
    margin-bottom: 24px;
    -webkit-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}

.section-services .service-item .service-img-link:hover .service-img-wrap {
    border-color: #1a1a1a;
}

.section-services .service-item .service-img {
    position: relative;
    width: 100%;
}

.section-services .service-item .service-img::before {
    display: block;
    padding-top: 400px;
    content: "";
}

.section-services .service-item .service-img::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 50rem;
}

.section-services .service-item .service-img-link:hover .service-img::after{
    background-color: rgba(0,0,0,0.3);
}

.section-services .service-item .service-img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50rem;
    object-fit: cover;
    object-position: center;
}

.section-services .service-item .service-title {
    font-family: 'Caramello', sans-serif;
    line-height: 1.2;
    margin: 0;
    text-align: center;
    font-size: 28px;
    color: #ff0000;
    -webkit-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;


}

.section-services .service-item .service-link:hover .service-title {
    color: #1a1a1a;
}

.section-testimonial .heading-flex {
    align-items: center;
}

.testimonial-wrap {
    position: relative;
    width: 100%;
    padding-left: 72px;
}

.testimonial-wrap::before {
    font-family: 'Caramello', sans-serif;
    font-weight: 400;
    content: 'â€';
    position: absolute;
    display: block;
    left: 0;
    right: initial;
    top: 7rem;
    line-height: 0.25rem;
    font-size: 300px;
    color: #7fa681;
}

.testimonial-slider {
    padding-bottom: 2rem;
}

.testimonial-slider .testimonial-item p {
    font-size: 20px;
    margin-bottom: 1rem;
}

.testimonial-slider .testimonial-item h5 {
    font-family: 'Mollie Glaston', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
}

.testimonial-slider .flickity-page-dots {
    text-align: start;
    bottom: 0;
}

.section-gallery .gallery-item {
    position: relative;
    width: 100%;
}

.section-gallery .gallery-item::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.section-gallery .gallery-item:hover::after {
    background-color: rgba(0,0,0,0.3);
}

.section-gallery .gallery-item img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-gallery .gallery-item .icon-zoom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
}

.section-gallery .gallery-item:hover .icon-zoom {
    opacity: 1;
}

.footer {
    position: relative;
    background-color: #1a1a1a;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../images/christmas/chirstmas-footer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.footer .footer-main {
    position: relative;
    padding: 100px 0px 100px 0px;
}

.footer .footer-absolute {
    position: relative;
    padding: 8px 0;
    /*border: 1px solid #ffffff;*/
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
}

.footer-main .footer-col-title {
    font-family: 'Mollie Glaston', sans-serif;
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1.2;
}

.footer-main .footer-col-content p {
    margin-bottom: 8px;
}

.footer-main .footer-col-content p {
    color: #ffffff;
}


.footer-main .list-social,
.contact-info-box .list-social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 16px;
}

.footer-main .list-social li,
.contact-info-box .list-social li {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    background: linear-gradient(to bottom,#ff0000, #ff7878);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.contact-info-box .list-social li {
    background-color: #1a1a1a;
    color: #fff;
}

.footer-main .list-social li a,
.contact-info-box .list-social li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info-box .list-social li a {
    color: #fff;
}

#btnScrollTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background: linear-gradient(to bottom,#ff0000,#ff7878);
    color: #ffffff;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 2px solid #ff0000;
    line-height: inherit;
    text-align: center;
}

#btnScrollTop:hover {
    background: linear-gradient(to bottom,#ff0000, #ff7878);
    color: #ffffff;
}

.btn-phone {
    transition: .3s all;
}

.phone-group.phone-show {
    visibility: visible;
}

.phone-group {
    position: fixed;
    visibility: hidden;
    cursor: pointer;
    z-index: 99;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    right: -5px;
    bottom: 60px;
}

.phone-ph-circle,
.phone-group {
    width: 100px;
    height: 100px;
    background-color: transparent;
}

.phone-group.phone-green .phone-ph-circle {
    border-color: #ff0000;
    opacity: .5;
}

.phone-ph-circle {
    top: 0;
    left: 0;
    position: absolute;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    border-radius: 100% !important;
    border: 2px solid #5e8360;
    opacity: .1;
    -webkit-animation: phone-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: phone-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: phone-circle-anim 1.2s infinite ease-in-out;
    -o-animation: phone-circle-anim 1.2s infinite ease-in-out;
    animation: phone-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    transform-origin: 50% 50%;
}

.phone-ph-circle,
.phone-ph-img-circle {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
}

.phone-group.phone-green .phone-ph-circle-fill {
    background: linear-gradient(to bottom,#ff0000,#ff7878);
    opacity: .75 !important;
}

.phone-ph-circle-fill {
    width: 60px;
    height: 60px;
    top: 20px;
    left: 20px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    border-radius: 100% !important;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: phone-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: phone-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: phone-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: phone-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phone-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.phone-group.phone-green .phone-ph-img-circle {
    box-shadow: 0 0 20px 6px #ff7878;
}

.phone-ph-img-circle {
    width: 30px;
    height: 30px;
    top: 35px;
    left: 35px;
    position: absolute;
    background: url(../../images/phone-ico.png) center center no-repeat rgba(30, 30, 30, .1);
    background-size: contain;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    border-radius: 100% !important;
    border: 2px solid transparent;
    opacity: .7;
    -webkit-animation: phone-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: phone-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: phone-circle-img-anim 1s infinite ease-in-out;
    -o-animation: phone-circle-img-anim 1s infinite ease-in-out;
    animation: phone-circle-img-anim 1s infinite ease-in-out;
    transform-origin: 50% 50%;
}

@-moz-keyframes phone-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }

    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-webkit-keyframes phone-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }

    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-o-keyframes phone-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }

    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes phone-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }

    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-moz-keyframes phone-circle-fill-anim {

    0%,
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes phone-circle-fill-anim {

    0%,
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes phone-circle-fill-anim {

    0%,
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
}

@keyframes phone-circle-fill-anim {

    0%,
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
}

@-moz-keyframes phone-circle-img-anim {

    0%,
    100%,
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    10%,
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20%,
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
}

@-webkit-keyframes phone-circle-img-anim {

    0%,
    100%,
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    10%,
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20%,
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
}

@-o-keyframes phone-circle-img-anim {

    0%,
    100%,
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    10%,
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20%,
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
}

@keyframes phone-circle-img-anim {

    0%,
    100%,
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    10%,
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20%,
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
}

.page-title {
    position: relative;
    width: 100%;
    padding: 160px 0 110px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-title h2 {
    font-family: 'Mollie Glaston', sans-serif;
    font-size: 55px;
    color: #ffffff !important;
    font-weight: 400;
    line-height: 1.2;
}

.section-page-wrap {
    position: relative;
    width: 100%;
    padding: 100px 0;
}

.service-list {
    position: relative;
    width: 100%;
}

.service-list .service-list-thumb-wrap {
    /* position: relative;
    width: 100%;
    min-height: 300px;
    padding: 32px;
    display: flex;
    align-items: flex-end; */

    /* -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%); */

    position: relative;
    padding: 0.5rem;
    border: 1px solid #1a1a1a;
    border-radius: 50rem 50rem 0 0;
    margin-bottom: 24px;
    -webkit-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}

.service-list .service-list-thumb {
    position: relative;
    width: 100%;
}

.service-list .service-list-thumb::before {
    display: block;
    padding-top: 400px;
    content: "";
}

.service-list .service-list-thumb > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50rem 50rem 0 0;
}

.service-list .service-list-name {
    position: relative;
    margin: 0px 0px 0px 0px;
    /* padding: 8px 24px; */
    /* background-color: #fff; */
    font-family: 'Caramello', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    /* text-align: center; */
    color: #ff0000;

}

.service-list .service-list-description {
    position: relative;
    margin: 0px 0px 0px 0px;
    /* padding: 8px 24px; */
    /* background-color: #fff; */
    font-family: 'Mollie Glaston', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    color: #5e8360;
}

.service-list .service-description {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #1a1a1a;
    line-height: 1.6;
    margin-top: 1rem;
    /* margin-bottom: 1.5rem; */
    margin-bottom: 0px;
    /* text-align: center; */
}

.service-list .service-item-list:not(.child) {
    margin: 0;
    margin-top: 1.5rem;
    padding: 0;
}

.service-list .service-item-list:not(.child) .service-item:not(.child) {
    margin-top: 12px;
    padding: 0px 0px 12px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #A7A7A7;
}

.service-list .service-item-list.child .service-item.child {
    margin-top: 12px;
    padding: 0px 0px 0px 0px;
    /* border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #A7A7A7; */
}

.service-list .service-item-list:not(.child) .service-item:not(.child):first-child {
    margin-top: 0px;
}

.service-list .service-item-list:not(.child) .service-item:not(.child):last-child {
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.service-list .service-item-list:not(.child) .service-item:not(.child) .box-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.service-item-list:not(.child) .service-item:not(.child) .box-wrap .box-left {
    width: 100%;
}

.service-item-list:not(.child) .service-item:not(.child) .box-wrap .box-right {
    margin: 0 0 0 20px;
    white-space: nowrap;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}

.service-list .service-item-list .service-item .service-item-name {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #1a1a1a;
    line-height: 1.6;
}

.service-list .service-item-list .service-item .service-item-desc {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #1a1a1a;
    line-height: 1.3;
}

.service-list .service-item-list .service-item .service-item-price {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    /*font-weight: 400;*/
    font-weight: 500;
    line-height: 1.3;
    /*color: #ffffff;
    padding: 6px 12px;
    background-color: #1a1a1a;*/
    color: #1a1a1a;
}

.pagination .page-link {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    color: #1a1a1a;
    border-radius: 0 !important;
    font-weight: 500;
}

.pagination .page-item.active .page-link {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}

.section-page-wrap.contact .heading-flex .sub-title {
    margin: 0 0 0 -3rem;
}

.contact-info-box h4 {
    font-family: 'Mollie Glaston', sans-serif;
    font-size: 28px;
    color: #1a1a1a;
    font-weight: 400;
    line-height: 1.2;
}

.text-field {
    padding: 8px;
    border: 1px solid #1a1a1a;
}

.label-field {
    font-family: 'Jost', sans-serif;
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 4px;
    color: #1a1a1a;
    font-size: 18px;
}

.text-field input,
.text-field textarea {
    font-family: 'Jost', sans-serif;
    display: block;
    width: 100%;
    color: #1a1a1a;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    border: 0;
}

.purchase-text {
    border: 1px solid #1a1a1a;
    padding: 8px;
    text-align: center;
    background: linear-gradient(to bottom,#ff0000,#ff7878);
}

.purchase-text p {
    font-weight: 500;
}

#loading {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    touch-action: none;
    pointer-events: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../public/images/christmas/loading-christmas.jpg");
}

#loading .loading-img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

#loading .loading-img img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.passport-group-01 {
    position: absolute;
    top: -75px;
    left: 75px;
}

.passport-01 {
    position: absolute;
    top: 0;
    right: 75px;
    transform: rotate(-15deg);
}

.passport-02 {
    position: absolute;
    top: 0;
    left: 75px;
    transform: rotate(15deg);
}

.header .button-group .icon-button {
    font-size: 14px;
    margin-left: 5px;
}


.offcanvas.offcanvas-end.show .offcanvas-body .nav-link  {
    color: #ffffff !important;
}